<h1>Novice</h1>
<span class="datum">zadnja sprememba: 6. december 2012</span>
<div class="cb"></div>
<div>

    <h2>D - LEGLO (0/4) 14.11.2012 (za oddajo od 14.01.2013)</h2>
    <div  style="text-align: justify;">
		Skotili so se 4 mladiči nemških ovčarjev (4 samice), za oddajo bodo čez 8 tednov! Tedensko bomo dodajali aktualne slike mladičev, tako da ste vabljeni k ogledu!
		<br />
		<a href="#/breedings/3" title="Leglo D 0/4 (14.01.2013)" style="float: right">Več...</a>
		<div class="cb" />
	</div>
	<br />
	<br />
    <h2>C - LEGLO (4/7) 02.01.2012 (za oddajo od 01.03.2012)</h2>
	<div  style="text-align: justify;">
		Skotilo se je 11 mladičev nemških ovčarjev (4 samci in 7 samic), za oddajo bodo čez 8 tednov! Tedensko bomo dodajali aktualne slike mladičev, tako da ste vabljeni k ogledu!
		<br />
		<a href="#/breedings/3" title="Leglo C 4/7 (01.03.2012)" style="float: right">Več...</a>
		<div class="cb" />
	</div>
	<br />
	<br />
	<h2>B - LEGLO (3/7) 21.01.2011 (za oddajo od 21.03.2011)</h2>
	<div  style="text-align: justify;">
		Skotilo se je 10 mladičev nemških ovčarjev (3 samci in 7 samic), za oddajo bodo čez 8 tednov! Tedensko bomo dodajali aktualne slike mladičev, tako da ste vabljeni k ogledu!
		<br />
		<a href="#/breedings/2" title="Leglo B 3/7 (21.03.2011)" style="float: right">Več...</a>
		<div class="cb" />
	</div>
	<br />
	<br />
	<h2>PSIHOLOŠKI UČINKI ŽIVLJENJA S PSOM</h2>
	<div  style="text-align: justify;">
		Nekateri menijo, da psa nimamo le zaradi koristi, temveč tudi za razvedrilo.
		<br />
		<br />
		Ob psu se človek vrne v svoje otroško obdobje, s psom se zapleta v razne igre. Igra s psom je drugačne vrste sprostitev, kot je športna igra.
		<br />
		<br />
		Igrivi pes nas vrača v zgodnjo mladost: pozabimo na vse tegobe vsakdanjega življenja. Napetosti in stresi postopoma izginjajo, ostajava samo še jaz in pes v preprostem in pristnem svetu narave.
	</div>
	<br />
	<br />
	<h2>PES »USTVARJA« ČUSTVENO STABILNOST DRUŽINE</h2>
	<div  style="text-align: justify;">
		Zakaj si otroci tako želijo psov? Zakaj nas nagovarjajo, da jim kupimo psa?
		<br />
		<br />
		Pes zapolni neko praznoto v življenju otroka. Otroci si želijo imeti ob sebi živo bitje, ki bo lahko njihov varuh in branilec, pa tudi partner pri igranju, kajti starši živijo svet odraslih in imajo po mnenju otrok zelo malo smisla za fantazijski svet otroka.
		<br />
		<br />
		Otroci si želijo »potopiti se« v svoj svet sanj, v fantazijski svet čudovitih bitij in iger. Starejšim otrokom ta svet nudi varnost in sprostitev, pozabljajo na kruto stvarnost, agresivnost, hkrati pa se jim sprošča ustvarjalnost.
		<br />
		<br />
		Pes igra pri fantazijskih igrah otroka pomembno vlogo. Vendar jim ne pomaga samo potapljati se v fantazijski svet, marveč jih tudi vrača v svet realnosti.
		<br />
		<br />
		Pes »spomni« otroka, da je potrebno tudi jesti, iti na sprehod, opraviti pasjo potrebo in se igrati tudi v naravi. Tako se otrok uči odgovornosti do živali, do živih bitij, do človeka.
		<br />
		<br />
		Starše, otroke in psa družijo skupni »pogovori« o tem, kam bodo šli na sprehod, kaj bodo jedli, kako in kje bodo spali, kako bodo skrbeli za skupno zdravje. Nenadoma tudi spoznajo, da jih pes povezuje z otroci, da pes ustvarja most med generacijami, med strogim svetom staršev in fantazijskim svetom otrok.
		<br />
		<br />
	</div>
	Vir: France Vreg »Vedenje psa«
</div>
<div class="cb"></div>

<h1>Naključne slike</h1>
<div id="galerija"></div>
<div class="cb"></div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#galerija").pwi({ username: 'marjan.holer', mode: 'album', album: "Mesano", thumbSize: 160, thumbCrop: 1, showAlbumDescription: false, popupExt: function (photos) { photos.fancybox({ 'hideOnContentClick': false }) } });
    });
 
</script>